<div
  class="ngx-ez-resizable-modal-backdrop"
  *ngIf="modalConfig?.backdrop"
></div>

<div
  class="ngx-ez-resizable-modal-content ngx-ez-resizable-modal-size-sm {{
    modalConfig?.modalClass
  }}"
  #contentRef
  resizable
  [disabled]="!modalConfig?.enableResize"
  [style]="{ background: 'transparent', thick: '4px' }"
>
  <div
    #headerRef
    class="ngx-ez-resizable-modal-header {{ modalConfig?.headerClass }}"
  >
    <div class="modal-title">
      <span class="modal-title-left">
        <ng-content select="[title]"></ng-content>
      </span>
      <span class="modal-title-right">
        <span class="move-icon" #handlerRef>
          <ng-content select="[handlerIcon]"></ng-content>
        </span>
        <span (click)="onClose($event)" class="close-icon">&#x2715;</span>
      </span>
    </div>
  </div>
  <div
    #bodyRef
    class="ngx-ez-resizable-modal-body {{ modalConfig?.bodyClass }}"
  >
    <ng-content select="[body]"></ng-content>
  </div>
  <div
    #footerRef
    class="ngx-ez-resizable-modal-footer {{ modalConfig?.footerClass }}"
  >
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
