.ngx-ez-resizable-modal-content {
  min-width: 250px;
  min-height: 250px;
  border: 1px solid rgb(175, 173, 173);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  left: 10%;
  box-shadow: 0 0 10px rgb(145, 143, 143);
}

.ngx-ez-resizable-modal-header,
.ngx-ez-resizable-modal-footer {
  height: 30px;
  min-height: 30px;
  padding: 5px;
}

.ngx-ez-resizable-modal-header {
  border-bottom: 1px solid rgb(175, 173, 173);
  background-color: whitesmoke;
}

.ngx-ez-resizable-modal-footer {
  border-top: 1px solid rgb(175, 173, 173);
}

.ngx-ez-resizable-modal-footer {
  height: 100%;
}

.ngx-ez-resizable-modal-size-sm {
  width: 60%;
}

.ngx-ez-resizable-modal-size-sm {
  width: 80%;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
